* {
  font-family: Helvetica, sans-serif;
}

#line {
    border-bottom-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile img {
  border-radius: 100%;
  width: 200px;
  display: block;
  margin: 15px auto;
}

.header {
    padding: 30px;
    font-family: Georgia;
}

.projects {
    padding-top: 15px;
}

.projects > div {
    text-align: center;
    text-transform: uppercase;
}

.projects > div > .skills {
    word-spacing: 10px;
    font-weight: bold;
    color: darkgrey;
}

.projects > div > .school {
    font-weight: bold;
    color: cadetblue;
    margin: 5px;
}

.project {
    margin-bottom: 30px;
}

.title {
    font-weight: bold;
}
a {
    color: black !important;
    text-decoration: none !important;
}

a:hover {
    color: darkgrey!important;
}
